{{#if medicamentos }}
{{#each medicamentos}}
<tr class="medication" data-medication="{{#each this.generico}}{{this}}{{/each}}">
    <th scope="row">{{#each this.generico}}{{#if @last}}{{this}}{{else}}{{this}} + {{/if}}{{/each}}</th>
    <td>{{#each this.referencia}}{{#if @last}}{{this}}{{else}}{{this}} + {{/if}}{{/each}}</td>
    <td>{{this.registro}}</td>
    <td>{{this.concentracao}}</td>
    <td><a data-toggle="modal" data-target="#medicineModal{{@index}}" class="btn btn-info" href="javascript:void(0)">+ Info</a></td>
</tr>
{{/each}}
{{/if}}